minimum_pre_commit_version: "3.7.0"
repos:
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3.13
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.21
    hooks:
      - id: mdformat
        args: [--wrap, "80"]
        additional_dependencies:
          - mdformat-gfm
          - mdformat-black

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: pytest-cov
        name: pytest-cov
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        args:
          - --cov=src
          - --cov-report=term-missing
          - --cov-fail-under=64
